<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Component Test</title>
    <script src="node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
</head>
<body>
    <div class="container">
        <h1>Website Goes Here</h1>
        <gz-badge></gz-badge>
	</div>
</body>
</html>