.gzlink{
    display: block; 
    position: fixed; 
    bottom: 0px; 
    right: 0px; 
    margin: 0px; 
    padding: 0px; 
    height: auto; 
    width: 40%; 
    max-width: 250px; 
    min-width: 150px; 
    z-index: 1000;
  }
  .gzlink img{
    width: 100%;
  }